.voucher-management{
  .voucher-title-size {
    max-width: 10rem !important;

  }

  .voucher-title-size div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block !important;

  }

  .banner-image {
    max-width: 7rem !important;
  }

  .ns-table .img-view.viewData img {
    width: 150px !important;
    object-fit: cover;
  }

  fieldset legend {
    color: #118352 !important;
  }

  .label-pos {
    mat-label {
      display: none !important;
    }
  }

  .cdk-column-image{
    width: 18% !important;
  }

  .cdk-column-quantity{

  }

  .cdk-column-rest{
    width: 10% !important;
  }

  .cdk-column-status{
    width: 10% !important;
  }

  .cdk-column-product-ype{
    width: 16% !important;
  }

  .cdk-column-price{
    width: 14% !important;
  }

  .cdk-column-create-date{
    width: 13% !important;
  }


}
