SET FOREIGN_KEY_CHECKS = 0;
drop table if exists country_description;
drop table if exists country;
drop table if exists country_location;
drop table if exists store_product_packing_detail;
drop table if exists store_product_packing;
drop table if exists store_user;
drop table if exists pallet_detail;
drop table if exists pallet;
drop table if exists store_delivery_wait;
drop table if exists store_location_charge;
drop table if exists store_file;
drop table if exists store;
drop table if exists users;
SET FOREIGN_KEY_CHECKS = 1;

create table country (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  isocode varchar(255) UNIQUE NOT NULL,
  is_support bit(1) default null COMMENT '0: Không hỗ trợ, 1: Có hỗ trợ',
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id)
)ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8;

insert into country (id, isocode, is_support, create_date, create_user)
            values(1, 'VN', 1, SYSDATE(), 'AUTO INSERT');
insert into country (id, isocode, is_support, create_date, create_user)
            values(2, 'EN', 0, SYSDATE(), 'AUTO INSERT');
insert into country (id, isocode, is_support, create_date, create_user)
            values(3, 'MY', 1, SYSDATE(), 'AUTO INSERT');

create table country_description (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  language_id bigint(20) NOT NULL,
  country_id bigint(20) NOT NULL,
  name varchar(255) default null,
  title varchar(255) default null,
  description longtext default null,
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  CONSTRAINT fk_countrydescription_language FOREIGN KEY (language_id) REFERENCES language(id),
  CONSTRAINT fk_countrydescription_country FOREIGN KEY (country_id) REFERENCES country(id)
)ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8;

insert into country_description (id, language_id, country_id, name, title, description, create_date, create_user)
            values(1, 1, 1, 'Viet Nam', 'Viet Nam', 'Viet Nam is the champion ^^', SYSDATE(), 'AUTO INSERT');
insert into country_description (id, language_id, country_id, name, title, description, create_date, create_user)
            values(2, 2, 1, 'Việt Nam', 'Việt Nam', 'Việt Nam vô địch ^^', SYSDATE(), 'AUTO INSERT');
insert into country_description (id, language_id, country_id, name, title, description, create_date, create_user)
            values(3, 1, 2, 'Unitied Kingdom', 'Unitied Kingdom', 'Unitied Kingdom @@', SYSDATE(), 'AUTO INSERT');

CREATE TABLE country_location (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  country_id bigint(20) NOT NULL,
  location_type ENUM('REGION', 'DISTRICT', 'TOWNSHIP') NOT NULL,
  code varchar(50) UNIQUE COLLATE utf8_unicode_ci NOT NULL,
  name varchar(255) NOT NULL,
  parent_id bigint(20) DEFAULT NULL,
  status int(11) NOT NULL COMMENT '0: không hoạt động, 1: hoạt động',
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  CONSTRAINT fk_countrylocation_country FOREIGN KEY (country_id) REFERENCES country(id),
  CONSTRAINT fk_countrylocation_countrylocation FOREIGN KEY (parent_id) REFERENCES country_location(id)
)ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8;


delete from country_location where id > 55;
delete from country_location where id > 51;
delete from country_location where id = 51;






create table users (
  username varchar(255) NOT NULL,
  distributor_id bigint(20) DEFAULT NULL,
  first_name varchar(255) NOT NULL,
  last_name varchar(255) NOT NULL,
  tel varchar(50) NOT NULL,
  email varchar(100) NOT NULL,
  status bit(1) NOT NULL default false,
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (username),
  CONSTRAINT fk_users_distributor FOREIGN KEY (distributor_id) REFERENCES distributor(id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8;



create table store (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  country_id bigint(20) NOT NULL,
  region_id bigint(20) NOT NULL,
  district_id bigint(20) NOT NULL,
  township_id bigint(20) NOT NULL,
  language_id bigint(20) NOT NULL,
  currency_id bigint(20) NOT NULL,
  code varchar(50) UNIQUE COLLATE utf8_unicode_ci NOT NULL,
  name varchar(255) NOT NULL,
  domain_name varchar(255) default null,
  in_business_since datetime NOT NULL,
  out_business_since datetime default null,
  email varchar(255) default null,
  logo varchar(255) default null,
  floor_no int(2) default null,
  address varchar(255) default null,
  phone varchar(255) default null,
  postal_code varchar(255) default null,
  provide_store_id bigint(20) default null COMMENT 'Chỉ dùng cho các kho là DC mapping vào FC',
  is_DC bit(1) default null COMMENT '0: Là kho tổng FC, 1: Là kho DC',
  status bit(1) default false COMMENT '0: không hoạt động, 1: hoạt động',
  lat DECIMAL(10, 8) NOT NULL,
  lng DECIMAL(11, 8) NOT NULL,
--   city varchar(255) default null,
--   township varchar(255) default null,
--   region varchar(255) default null,
  delivery_frequency int(11) default null,
  length decimal(10,2) default null COMMENT 'đơn vị default là mét',
  width decimal(10,2) default null COMMENT 'đơn vị default là mét',
  height decimal(10,2) default null COMMENT 'đơn vị default là mét',
  area decimal(10,2) default null  COMMENT 'đơn vị default là mét vuông',
  username varchar(255) default null,
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  CONSTRAINT fk_store_language FOREIGN KEY (language_id) REFERENCES language(id),
  CONSTRAINT fk_store_country FOREIGN KEY (country_id) REFERENCES country(id),
  CONSTRAINT fk_store_countrylocationregion FOREIGN KEY (region_id) REFERENCES country_location(id),
  CONSTRAINT fk_store_countrylocationdistrict FOREIGN KEY (district_id) REFERENCES country_location(id),
  CONSTRAINT fk_store_countrylocationtownship FOREIGN KEY (township_id) REFERENCES country_location(id),
  CONSTRAINT fk_store_currency FOREIGN KEY (currency_id) REFERENCES currency(id),
  CONSTRAINT fk_store_store FOREIGN KEY (provide_store_id) REFERENCES store(id),
  CONSTRAINT fk_store_users FOREIGN KEY (username) REFERENCES users(username)
)ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8;

#lat, lng: 86 Võ Thị Sáu
-- insert into store (id, country_id, language_id, currency_id, code, name, domain_name, in_business_since, email, logo,
--                    address, city, phone, postal_code, is_DC, status, lat, lng, create_date, create_user)
-- values(1, 1, 2, 2, 'FC', 'Kho tổng', 'domain_name FC', SYSDATE(), 'FC@email.xxx', 'LOGO FC',
--        '86 Võ Thị Sáu', 'City FC', 'Phone FC', '10000', 0, 1, 21.005660, 105.854811, SYSDATE(), 'AUTO INSERT');
-- #lat, lng: Keangnam       
-- insert into store (id, country_id, language_id, currency_id, code, name, domain_name, in_business_since, email, logo,
--                    address, city, phone, postal_code, is_DC, status, lat, lng, create_date, create_user)
-- values(2, 1, 2, 2, 'DC_1', 'Kho DC_1', 'domain_name DC_1', SYSDATE(), 'DC_1@email.xxx', 'LOGO DC_1',
--        'Keangnam', 'City DC_1', 'Phone DC_1', '10000', 1, 1, 21.017162, 105.783709, SYSDATE(), 'AUTO INSERT');
-- #lat, lng: 98 Nguyễn Chí Thanh
-- insert into store (id, country_id, language_id, currency_id, code, name, domain_name, in_business_since, email, logo,
--                    address, city, phone, postal_code, is_DC, status, lat, lng, create_date, create_user)
-- values(3, 1, 2, 2, 'DC_2', 'Kho DC_2', 'domain_name DC_2', SYSDATE(), 'DC_2@email.xxx', 'LOGO DC_2',
--        '98 Nguyễn Chí Thanh', 'City DC_2', 'Phone DC_2', '10000', 1, 1, 21.016934, 105.805804, SYSDATE(), 'AUTO INSERT');
-- #lat, lng: 86 Hoàng Ngân
-- insert into store (id, country_id, language_id, currency_id, code, name, domain_name, in_business_since, email, logo,
--                    address, city, phone, postal_code, is_DC, status, lat, lng, create_date, create_user)
-- values(4, 1, 2, 2, 'DC_3', 'Kho DC_3', 'domain_name DC_3', SYSDATE(), 'DC_3@email.xxx', 'LOGO DC_3',
--        '86 Hoàng Ngân', 'City DC_3', 'Phone DC_3', '10000', 1, 1, 21.016934, 105.805804, SYSDATE(), 'AUTO INSERT');

create table store_location_charge (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  store_id bigint(20) NOT NULL,
  country_location_id BIGINT(20) NOT NULL,
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  UNIQUE KEY (country_location_id),
  UNIQUE KEY (store_id, country_location_id),
  CONSTRAINT fk_storelocationcharge_store FOREIGN KEY (store_id) REFERENCES store(id),
  CONSTRAINT fk_storelocationcharge_countrylocation FOREIGN KEY (country_location_id) REFERENCES country_location(id)
)ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;

CREATE TABLE store_file (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  store_id bigint(20) NOT NULL,
  url text NOT NULL,
  create_date datetime DEFAULT NULL,
  create_user varchar(255) DEFAULT NULL,
  update_date datetime DEFAULT NULL,
  update_user varchar(255) DEFAULT NULL,
  PRIMARY KEY (id),
  CONSTRAINT fk_storefile_store FOREIGN KEY (store_id) REFERENCES store(id)
)ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


create table store_product_packing (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  store_id bigint(20) NOT NULL,
  product_packing_id bigint(20) NOT NULL,
  product_id bigint(20) NOT NULL,
  total_quantity bigint(20) NOT NULL,
  expire_date date NOT NULL,
  code varchar(255) NOT NULL,
  QR_code longtext NOT NULL,
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  UNIQUE KEY (store_id, product_packing_id, expire_date),
  CONSTRAINT fk_storeproductpacking_productpacking FOREIGN KEY (product_packing_id) REFERENCES product_packing(id),
  CONSTRAINT fk_storeproductpacking_store FOREIGN KEY (store_id) REFERENCES store(id),
  CONSTRAINT fk_storeproductpacking_product FOREIGN KEY (product_id) REFERENCES product(id)
)ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


create table store_product_packing_detail (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  store_product_packing_id bigint(20) NOT NULL,
  quantity bigint(20) NOT NULL,
  original_quantity bigint(20) NOT NULL,
  code varchar(255) NOT NULL,
  QR_code longtext NOT NULL,
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  CONSTRAINT fk_storeproductpackingdetail_storeproductpacking FOREIGN KEY (store_product_packing_id) REFERENCES store_product_packing(id)
)ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


create table store_user (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  store_id bigint(20) NOT NULL,
  username varchar(255) NOT NULL,
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  unique (store_id, username),
  CONSTRAINT fk_storeuser_store FOREIGN KEY (store_id) REFERENCES store(id),
  CONSTRAINT fk_storeuser_users FOREIGN KEY (username) REFERENCES users(username)
)ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;




create table store_delivery_wait (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  from_store_id bigint(20) NOT NULL,
  to_store_id bigint(20) NOT NULL,
  max_day_to_wait int(11) NOT NULL,
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  unique(from_store_id, to_store_id),
  CONSTRAINT fk_storedeliverywait_fromstore FOREIGN KEY (from_store_id) REFERENCES store(id),
  CONSTRAINT fk_storedeliverywait_tostore FOREIGN KEY (to_store_id) REFERENCES store(id)
)ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;

insert into store_delivery_wait (id, from_store_id, to_store_id, max_day_to_wait, create_date, create_user)
      values (1, 1, 2, 1, SYSDATE(), 'AUTO INSERT'),
             (2, 1, 3, 2, SYSDATE(), 'AUTO INSERT'),
             (3, 2, 1, 3, SYSDATE(), 'AUTO INSERT'),
             (4, 2, 3, 4, SYSDATE(), 'AUTO INSERT'),
             (5, 3, 1, 5, SYSDATE(), 'AUTO INSERT'),
             (6, 3, 2, 6, SYSDATE(), 'AUTO INSERT');


create table pallet (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  store_id bigint(20) NOT NULL,
  code varchar(255) UNIQUE COLLATE utf8_unicode_ci default null,
  QR_code longtext default null, 
  name varchar(255) NOT NULL,
  step int(11) default null COMMENT '1: IMPORT_PO_UPDATE_PALLET, 2: IMPORT_STATEMENT_UPDATE_PALLET',
  parent_pallet_id bigint(20) default null,
  length decimal(19, 2) NOT NULL default 1200 COMMENT 'DVT: mm',
  width decimal(19, 2) NOT NULL default 1200 COMMENT 'DVT: mm',
  height decimal(19, 2) NOT NULL default 1800 COMMENT 'DVT: mm',
  free_volume decimal(19,2) NOT NULL default 2592000000 COMMENT 'DVT: mm^3',
  total_volume decimal(19,2) NOT NULL default 2592000000 COMMENT 'DVT: mm^3',
  status bit(1) NOT NULL default 1 COMMENT '0: Không hoạt động, 1: hoạt động',
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  CONSTRAINT fk_pallet_store FOREIGN KEY (store_id) REFERENCES store(id),
  CONSTRAINT fk_pallet_pallet FOREIGN KEY (parent_pallet_id) REFERENCES pallet(id)
)ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8;

-- insert into pallet (id, store_id, code, name, step, parent_pallet_id, create_date, create_user, qr_code)
--       values(1, 1, '1st-Floor', 'Tầng 1', null, null, SYSDATE(), 'AUTO INSERT',
--             'iVBORw0KGgoAAAANSUhEUgAAAN4AAADeCAIAAADdBSngAAADFklEQVR42u3dyxHCMBBEQeefB3HChRS8OyP1K478LLUuKiyerxTZYwiEpoSm0JTQFJoSmhKaQlNCU2hKaEpoCk0JTaEpoSk0JTQlNIWmhKbQlNCU0BSaEppCU0JTaEpoSmgKTQlNoSmhKe3T/Dxxj93vWT1KaKKJJppoookmmmiiiSaaaKKJJpoTNAM/veWZ580RmmiiiSaaaKKJJppoookmmmiiiebE3t4lOHZHCU000TToaKKJJppoookmmmiiiSaaaC78rgxNNNFEE0000UQTTTTRRBNNNNFEE83rBj1wCaFp0NFEE0000UQTTTTRRBNNNNFEs5Vmy8J44zLdUYkmmmiiiSaaaKKJJppoookmmmii2XeWe8tupbPc0UQTTTTRRBNNNNFEE0000UQTzVaa1R0x5S0ZGjTRRBNNNNFEE0000UQTTaF5Jc2xw6sCT8l6Y+jOXUJoookmmmiiiSaaaKKJJppoookmmm/e0/jGVxpbgYGy0UQTTTTRRBNNNNFEE0000UQTTTQLatmYDDyOC0000UQTTTTRRBNNNNFEE0000UTzKJq7v9fa3VU94p/80EQTTTTRRBNNNNFEE0000UQTTTSDd9cCp3x3U9YdlWiiiSaaaKKJJppoookmmmiiieZR+5rn7apW/2UgmmiiiSaaaKKJJppoookmmmiiiWbWlAcOegvNscWGJppoookmmmiiiSaaaKKJJppoojlBM/DTA5dQywpEE0000UQTTTTRRBNNNNFEE0000SzAMbZfODa7gZeJJppoookmmmiiiSaaaKKJJppoonkpzZZrH3s5mmiiiSaaaKKJJppoookmmmiiiSaafQp3t1rRRBNNNNFEE0000UQTTTTRRBNNNNfmLFDM7mWOvad9TTTRRBNNNNFEE0000UQTTTTRRDOLZuA5VbvvWb0s0UQTTTTRRBNNNNFEE0000UQTTTQlNIWmhKaEptCU0BSaEpoSmkJTQlNoSmgKTQlNCU2hKaEpNCU0JTSFpoSm0JTQlNAUmhKaQlNCU2hKaEpoCk0JTaEpoSn9+wF3rqDgUNWz8wAAAABJRU5ErkJggg==');
-- insert into pallet (id, store_id, code, name, step, parent_pallet_id, create_date, create_user, qr_code)
--       values(2, 1, 'receive_1st-Floor', 'Khu vực nhận hàng tầng 1', 1, 1, SYSDATE(), 'AUTO INSERT',
--             'iVBORw0KGgoAAAANSUhEUgAAAN4AAADeCAIAAADdBSngAAADXklEQVR42u3dQXbCMBBEQd//HjknuQNYPS2p/suSgDHlzTxZfj5SZY9TIDQlNIWmhKbQlNCU0BSaEppCU0JTQlNoSmgKTQlNoSmhKaEpNCU0haaEpoSm0JTQFJoSmkJTQlNCU2hKaApN6R6af8/k31vH8937JP8reQ7RRBNNNNFEE0000UQTTTTRPIPm7GfN/jzfvXPbOUQTTTTRRBNNNNFEE0000UTzVJrrBjrrjif5M7edQzTRRBNNNNFEE0000UQTTTTRnGKXfA2aaKKJJppoookmmmiiiSaaaN5AM/lN2y45NNFEE0000UQTTTTRRBNNNNFsvgEjyc4NGGiiiSaaaKKJJppoookmmmj20GzbxHDH19jEEE000UQTTTTRRBNNNNFEE83z6h/oXJOTiCaaaApNNNFEE0000URzeHj01vvMPh5gx+Mx10QTTTTRRBNNNNFEE0000XQDRmZ8s+MykeTDCQyP0EQTTTTRRBNNNNFEE00076G5bjCU3KQveTz9jz1AE0000UQTTTTRRBNNNNFE0/Aoc1rbNuhPboZoeQeaaKKJJppoookmmmiiieY9NNcNWZILI864/cMNGGiiiSaaaKKJJppoookmmoZHzeySF2HbMhE00UQTTTTRRBNNNNFEE000T6W54/imf6HGOpqjoYkmmmiiiSaaaKKJJppoorkBzbYt+ZIXzxGDITTRRBNNNNFEE0000UQTTTSHac7egNH/wIDkohBbJKCJJppoookmmmiiiSaaaN5Mc8ex1OzjCmbHbWiiiSaaaKKJJppoookmmmgaHmWGI/3fIjm6KgtNNNFEE0000UQTTTTRRBPNKM3Zz2pbGNH2aAT7a6KJJppoookmmmiiiSaaaN5Ms+1WirfGSaeO0tBEE0000UQTTTTRRBNNNNFEs/mmiLalGx4EiCaaaKKJJppoookmmmiiiebuNJNno42m4RGaaKKJJppoookmmmiiiebNNGcvg+RrkoMqmxiiiSaaaKKJJppoookmmmii+ftJTG5k0AZxdnEJmmiiiSaaaKKJJppoookmmqfSlNAUmhKaQlNCU0JTaEpoCk0JTQlNoSmhKTQlNIWmhKaEptCU0BSaEpoSmkJTQlNoSmgKTQlNCU2hKaEpNCU0JTS1R/8J/D9kYxUboAAAAABJRU5ErkJggg==');
-- insert into pallet (id, store_id, code, name, step, parent_pallet_id, create_date, create_user, qr_code)
--       values(3, 1, 'repacking_1st-Floor', 'Khu vực phân chia hàng tầng 1', 1, 1, SYSDATE(), 'AUTO INSERT',
--             'iVBORw0KGgoAAAANSUhEUgAAAN4AAADeCAIAAADdBSngAAADXklEQVR42u3dwXHDMAxFQfffR+qMe/CQwAe4b3JMLEtaXTAh9fmXIvu4BEJTQlNoSmgKTQlNCU2hKaEpNCU0JTSFpoSm0JTQFJoSmhKaQlNCU2hKaEpoCk0JTaEpoSk0JTQlNIWmhKbQlN6h+ffp/PntG576q98+eeI1RBNNNNFEE0000UQTTTTRRHMizd5jnYJ46jZXEk+7X2iiiSaaaKKJJppoookmmmim0ey9zZVjl8pBVeU3RBNNNNFEE0000UQTTTTRRBPNrsHQqU9GE0000UQTTTTRRBNNNNFEE03Do7OX/tSZookmmmiiiSaaaKKJJppooolmF80dOO5dDQsw0EQTTTTRRBNNNNFEE0000bxxqvlLIPJ/xyaGaKKJJppoookmmmiiiSaaaE6vd3FF643PD0000UQTTTTRRBNNNNFEE804CvlbEtw7+qnhUeU3RBNNNNFEE0000UQTTTTRRHMizcpP7h0MTXyBgbVBaKKJJppoookmmmiiiSaaW2neIzVxpFJ5XpUPM5poookmmmiiiSaaaKKJJppbh0fx/4jw9JgMTTTRRBNNNNFEE0000UQTzR008zcf7D2vtB800UQTTTTRRBNNNNFEE000d9C8N8LoHan0br6Q/+iiiSaaaKKJJppoookmmmiimT88qhzWVPLtvYYrtjVEE0000UQTTTTRRBNNNNFEM25U9M6W/b3LNsJCE0000UQTTTTRRBNNNNFEsxliL/r88U3vo4smmmiiiSaaaKKJJppooonm1uFR2uiq91grSKGJJppoookmmmiiiSaaaKK5ZHiU/0r7tAHTqfOyNghNNNFEE0000UQTTTTRRNMWCTnH6t0iMG0LCTTRRBNNNNFEE0000UQTTTRfpjlxMFSJdelr/9BEE0000UQTTTTRRBNNNNF8mmblRgZpo6v40EQTTTTRRBNNNNFEE0000Xx6eDRxiUjvY4AmmmiiiSaaaKKJJppooonmVpq9j8E9vvlnagEGmmiiiSaaaKKJJppooommTQxnjWZ2vD4QTTTRRBNNNNFEE0000UQTzZdpSmgKTQlNoSmhKaEpNCU0haaEpoSm0JTQFJoSmkJTQlNCU2hKaApNCU0JTaEpoSk0JTSFpoSmhKbQlNAUmhKaEpqa0RcpGQGDQLHYjQAAAABJRU5ErkJggg==');
-- insert into pallet (id, store_id, code, name, step, parent_pallet_id, create_date, create_user, qr_code)
--       values(4, 1, 'store_1st-Floor', 'Khu vực trữ hàng tầng 1', 2, 1, SYSDATE(), 'AUTO INSERT',
--             'iVBORw0KGgoAAAANSUhEUgAAAN4AAADeCAIAAADdBSngAAADIUlEQVR42u3cwZECMQxFwck/D+KEHABL+la/2uMCM572RQV+3tLIHksgNCU0haaEptCU0JTQFJoSmkJTQlNCU2hKaApNCU2hKaEpoSk0JTSFpoSmhKbQlNAUmhKaQlNCU0JTaEpoCk0JTamf5usZ91d28UtWCU000UQTTTTRRBNNNNFEE0000UTzzzQHfvqJ6+z99JRnhCaaaKKJJppoookmmmiiiSaaaKL5/eP5cQ5X9p8n5poDVwlNNNFEE0000UQTTTTRRBNNNNFEcynNMoVoookmmmiiiSaaaKKJJppoookmmmjePNfsfTmaaKKJJppoookmmmiiiSaaaKKJ5lKaKRuj7OVLnhGaaKKJJppoookmmmiiiSaaaKKJZsAp5Sm/0nSWO5poookmmmiiiSaaaKKJJppoonkVzZTufeQpWRo00UQTTTTRRBNNNNFEE02huZLmfedpDZxrlt07mmiiiSaaaKKJJppoookmmmiiiWbAuLHMQcpmK1tkNNFEE0000UQTTTTRRBNNNNFEE822uWbvDLJsY5QtXVpoookmmmiiiSaaaKKJJppoookmmieHiClfn+u15TguNNFEE0000UQTTTTRRBNNNNFEM4DmwAFq2VB24LlfaKKJJppoookmmmiiiSaaaKKJJpptNFPCqDs00UQTTTTRRBNNNNFEE000heZKmikDv4FfilsmG0000UQTTTTRRBNNNNFEE0000USzfC16T8n68ZJSfjiKJppoookmmmiiiSaaaKKJJppoolmBo2xa2TuYLNtXaae+o4kmmmiiiSaaaKKJJppoookmmmgOppnCyHFcaKKJJppoookmmmiiiSaaaKKJJpqXzDUH7gE00UQTTTTRRBNNNNFEE0000UQTzVSaKRujDPGJe/eLSjTRRBNNNNFEE0000UQTTTTRRDOAZspZ7iduc+B7zghNNNFEE0000UQTTTTRRBNNNNFcSVNCU2hKaApNCU0JTaEpoSk0JTQlNIWmhKbQlNAUmhKaEppCU0JTaEpoSmgKTQlNoSmhKTQlNCU0haaEptCU0JTQFJoSmrqsD75WiEdR+7eYAAAAAElFTkSuQmCC');
INSERT INTO pallet (id, store_id, code, name, step, parent_pallet_id, create_date, create_user, qr_code) VALUES (25, 11, 'Pallet1000125', 'nhận hàng thường', 1, null, SYSDATE(), 'AUTO INSERT',''), (26, 11, 'Pallet1000126', 'nhận hàng thường', 1, null, SYSDATE(), 'AUTO INSERT',''),(27, 11, 'Pallet1000127', 'nhận hàng thường', 2, null, SYSDATE(), 'AUTO INSERT',''), (28, 11, 'Pallet1000128', 'nhận hàng thường', 2, null, SYSDATE(), 'AUTO INSERT','');


create table pallet_detail (
  id bigint(20) NOT NULL AUTO_INCREMENT,
  pallet_id bigint(20) NOT NULL,
  product_id bigint(20) NOT NULL,
  product_packing_id bigint(20) NOT NULL,
  quantity bigint(20) NOT NULL,
  org_quantity bigint(20) NOT NULL,
  expire_date date NOT NULL,
  store_product_packing_detail_id bigint(20) UNIQUE DEFAULT NULL,
  create_date datetime default null,
  create_user varchar(255) default null,
  update_date datetime default null,
  update_user varchar(255) default null,
  PRIMARY KEY (id),
  CONSTRAINT fk_palletdetail_pallet FOREIGN KEY (pallet_id) REFERENCES pallet(id),
  CONSTRAINT fk_palletdetail_product FOREIGN KEY (product_id) REFERENCES product(id),
  CONSTRAINT fk_palletdetail_productpacking FOREIGN KEY (product_packing_id) REFERENCES product_packing(id),
  CONSTRAINT fk_palletdetail_storeproductpackingdetail FOREIGN KEY (store_product_packing_detail_id) REFERENCES store_product_packing_detail(id)
)ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;



