<div [formGroup]='form' class="evoucher-detail" fxLayout='row wrap' fxLayout.lt-md='column'
     *ngIf='(voucher$ | async) as data'>

    <div fxLayout='row' fxFlex='100%'>
        <div fxLayout='column' fxFlex='60%'>
            <div fxLayout='row' fxFlex='40%' class='acbox row-wrap-padding'>
                <fieldset>
                    <legend style='color:#118352 !important;'>{{'evoucher.header.businessInfo' | translate}}</legend>
                    <div fxLayout='row-wrap' class='row-wrap-padding padding-content' fxFlex='100%'>
                        <ns-input-view [label]="'evoucher.label.title.business_name'"
                                       [text]='data.user.display_name'
                                       fxLayout='row' fxFlex='50%'
                                       fxFlex.lt-md='100%'>
                        </ns-input-view>
                        <ns-input-view [label]="'evoucher.label.title.business_phone'"
                                       [text]='data.user.username'
                                       fxLayout='row' fxFlex='50%'
                                       fxFlex.lt-md='100%'>
                        </ns-input-view>
                    </div>
                </fieldset>
            </div>

            <div fxLayout='row' fxFlex='60%' class='acbox row-wrap-padding'>
                <fieldset>
                    <legend
                            style='color:#118352 !important;'>{{'evoucher.header.voucherDetailInfo' | translate}}</legend>
                    <div fxLayout='row-wrap' class='row-wrap-padding padding-content'>
                        <div fxLayout='column' fxFlex='100%'>
                            <div fxLayout='row'>
                                <div fxLayout='column' fxFlex='20%' style='padding-left: 20px; color: #989898;'>
                                    <p>{{'evoucher.label.title.title' | translate}}</p>
                                </div>
                                <div fxLayout='column' fxFlex='78%' style='color: #11A2F3;'>
                                    <p style='word-break: break-word'>{{data.title}}</p>
                                </div>
                            </div>
                            <div fxLayout='row'>
                                <div fxLayout='column' fxFlex='20%' style='padding-left: 20px; color: #989898;'>
                                    <p>{{'evoucher.label.title.category' | translate}}</p>
                                </div>
                                <div fxLayout='column' fxFlex='78%'>
                                    <p>{{data.type.name}}</p>
                                </div>

                            </div>
                            <div fxLayout='row'>
                                <div fxLayout='column' fxFlex='20%' style='padding-left: 20px; color: #989898;'>
                                    <p>{{'evoucher.label.title.quantity' | translate}}</p>
                                </div>
                                <div fxLayout='column' fxFlex='78%'>
                                    <p>{{data.quantity}}</p>
                                </div>
                            </div>
                            <div fxLayout='row'>
                                <div fxLayout='column' fxFlex='20%' style='padding-left: 20px; color: #989898;'>
                                    <p>{{'evoucher.label.title.status' | translate}}</p>
                                </div>
                                <div fxLayout='column' fxFlex='78%'>
                                    <p>{{data.status}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div fxLayout='column' class='acbox ' fxFlex='39%' fxFlex.lt-md='100%' ngClass.gt-sm='margin-left-20'>
            <div style='padding: 32px 32px 0 32px'>
                <div style='width: 100%; height: 200px; display: flex; justify-content: center'>
                    <img [src]='safeImageUrl' id='size-img'>
                </div>
            </div>
            <div fxLayout='row' fxFlex='7%' style='margin-left: 32px'>
                <p fxLayout='column' class='valid-time'>{{'evoucher.label.title.valid_time' | translate}}</p>
            </div>
            <div fxLayout='row' style='align-items: center'>
                <p fxLayout='column' class='label-time-publish'>{{'evoucher.label.title.from' | translate}}</p>
                <p fxLayout='column' class='time-publish'>{{data.from_date }}</p>
                <p fxLayout='column' class='label-time-publish'>{{'evoucher.label.title.to' | translate}}</p>
                <p fxLayout='column' class='time-publish'>{{data.to_date}}</p>
            </div>
            <div fxLayout='row' fxFlex='7%' style='margin-left: 32px; align-items: center'>
                <p fxLayout='column' class='valid-time'>{{'evoucher.label.title.content' | translate}}</p>
            </div>
            <div style='align-items: center;'>
                <p class='label-description'>{{data.description}}</p>
            </div>
        </div>
    </div>


    <div class='acbox row-wrap-padding' fxFlex='100%'>
        <fieldset>
            <legend
                    style='color:#118352 !important;'>{{'evoucher.header.voucherDistributeInfo' | translate}}</legend>
            <div fxLayout="row">
                <div fxFlex="34.5%">
                    <ns-flat-tree formControlName="address"
                                  style="padding-left: 40px;"
                                  [label]="'common.location'"
                                  [value]="toLocationCode()"
                                  [isView]="true"
                                  [fullDatasource]="locationTree"
                                  fxLayout="column" fxFlex="100%" fxFlex.lt-md="100%" class="margin-bottom-20">
                    </ns-flat-tree>
                </div>
                <div fxFlex="65.5" fxLayout="column">
                    <div fxFlex="50" fxLayout='row' style='margin-left: 30px' class='row-wrap-padding padding-content'>
                        <div fxLayout='column' fxFlex='17%'>
                            <p class='label-style'>{{'evoucher.title.age_range' | translate}}</p>
                        </div>
                        <div fxLayout='column' fxFlex='37%'>
                            <p *ngIf='data.voucher_distribute'>{{data.voucher_distribute.age_from}}
                                - {{data.voucher_distribute.age_to}}</p>
                        </div>
                        <div fxLayout='column' fxFlex='17%'>
                            <p class='label-style'>{{'evoucher.title.gender' | translate}}</p>
                        </div>
                        <div fxLayout='column' fxFlex='22%'>
                            <p>{{data.voucher_distribute?.gender?.toUpperCase()}}</p>
                        </div>
                    </div>
                    <div fxFlex="50" fxLayout='row' style='margin-left: 30px' class='row-wrap-padding padding-content'>
                        <div fxLayout='column' fxFlex='17%'>
                            <p class='label-style'>{{'evoucher.title.other_information' | translate}}</p>
                        </div>
                        <div fxLayout='column' fxFlex='37%' style='padding-right: 3.125rem'>
                            <p style='word-break: break-word'>{{data.voucher_distribute.other_information}}</p>
                        </div>
                        <div fxLayout='column' fxFlex='17%'>
                            <p class='label-style'>{{'evoucher.title.hobbies' | translate}}</p>
                        </div>
                        <div fxLayout='column' fxFlex='22%' style='padding-right: 3.125rem'>
                            <p>{{data.hobbies.toString()}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout='row' class='row-wrap-padding padding-content'
                 style='margin-left: 30px;border-top:0.5px solid #C9C9C9;'>
                <div fxLayout='column' fxFlex='12.5%'>
                    <p class='label-style'>{{'evoucher.title.numberVoucherDistributed' | translate}}</p>
                </div>
                <div fxLayout='column' fxFlex='22.5%' style='padding-right: 3.125rem'>
                    <p style='color:#118352;'>{{data.number_of_voucher_distributed}}</p>
                </div>
                <div fxLayout='column' fxFlex='10%'>
                    <p class='label-style'>{{'evoucher.title.numberVoucherResidual' | translate}}</p>
                </div>
                <div fxLayout='column' fxFlex='25%' style='padding-right: 3.125rem'>
                    <p style='color:#FF5301;margin-left: 20px;'>{{data.quantity - data.number_of_voucher_distributed}}</p>
                </div>
                <div fxLayout='column' fxFlex='10%' style='padding-top: 16px!important;'>
                    <button style="background-color: #00977D;color: white;" *ngIf="disableShowDetailButton() === false"
                            mat-button
                            class='btn-detail-action' (click)='viewInfoDetail()' [disabled]='disableShowDetailButton()'>
                        <span> {{'evoucher.button.detail' | translate}}</span>
                        <mat-icon [ngStyle]="{'opacity':disableShowDetailButton() === true ? '0.3' : '1' }"
                                  class="detail-icon"> arrow_forward
                        </mat-icon>
                    </button>
                </div>
                <br>
            </div>
            <div class="customer" fxLayout='row' class='row-wrap-padding padding-content'
                 style='margin-left: 30px;border-top:0.5px solid #C9C9C9;'>
                <ns-multi-select-autocomplete
                        style = "margin-top: 30px;color:#989898;"
                        [multiple]="true"
                        [isLabelOutside]='true'
                        formControlName="customers"
                        [options]="customersSelect"
                        [placeholder]="'evoucher.add.edit.customers'" fxLayout="column" fxFlex="33.7%"
                        fxFlex.lt-md='100%'>
                </ns-multi-select-autocomplete>
            </div>
        </fieldset>
    </div>

    <div class='acbox_footer btn-sec no-margin'>
        <div class='btn-footer'>
            <button mat-button
                    class='btn-action btn-add' (click)='addNewVoucher()'>
                <mat-icon class='add-icon'>add_circle</mat-icon>
                {{'evoucher.button.addNew' | translate}}
            </button>
            <button mat-button [disabled]='disableEditButton()' class='btn-action btn-edit' (click)='editVoucher()'>
                <mat-icon [ngStyle]="{'opacity':disableEditButton() === true ? '0.3' : '1' }" class='edit-icon'>
                    border_color
                </mat-icon>
                <span
                        [ngStyle]="{'opacity':disableEditButton() === true ? '0.3' : '1' }">{{'evoucher.button.edit' | translate}}</span>
            </button>
            <!--      <button mat-button-->
            <!--              class='btn-action btn-approve' (click)='approveVoucher(data.id)' [disabled]='disableApproveButton()'>-->
            <!--        <mat-icon [ngStyle]="{'opacity':disableApproveButton() === true ? '0.3' : '1' }" class='approve-icon'> done</mat-icon>-->
            <!--        <span-->
            <!--          [ngStyle]="{'opacity':disableApproveButton() === true ? '0.3' : '1' }"> {{'evoucher.button.approve' | translate}}</span>-->
            <!--      </button>-->
        </div>

    </div>

</div>
