.voucher-info {
  .banner-image {
    max-width: 7rem !important;
  }

  .ns-table .img-view.viewData img {
    width: 40% !important;
    object-fit: cover;
  }

  .cdk-column-status{
    width: 15% !important;
  }
}
