.btn-sec {
  margin-right: 5rem !important;
  text-align: right;
  margin-top: 1.5em;
}

@media (max-width: 800px) {
  .btn-sec {
    margin-right: 1rem !important;
  }
}
@media (max-width: 600px) {
  .btn-sec {
    margin-right: 1rem !important;
  }
}

mat-dialog-content{
  max-height: 250px;
}

.roleRow{
  height: 50px;
}
