.example-spacer {
    flex: 1 1 auto;
}
.mat-drawer-content{
    padding: 0px !important;
}
.header{
    background-color: black;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding : 5px 0px 5px 0px;
    color:white;

    .left {
        margin-left: 85px;
        .button{
            cursor: pointer;
            padding: 10px;
            color: #c3c3c3;
        }
    }

    .right{
        margin-right: 100px;
        font-size: 15px;
        .button{
            cursor: pointer;
            padding: 10px;
            color: #c3c3c3;
            a{
                color: #c3c3c3;
            }
        }
    }


}

.search{
    background-color: #ef6c00;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    padding : 20px 0 20px 0;

    .left{
        .search-form{
            margin-left: 60px;
            width: 650px;
            .form-wrap{
                background-color: transparent;
                white-space: nowrap;
                zoom: 1;
                width: 100%;
                margin: 0;
                position: relative;
                background: #444;
                background: rgba(0,0,0,.2);
                input{
                    border-radius: 3px;
                    border: 1px #fff;
                    transition: box-shadow .3s ease-out;
                    height: 40px;
                    width: 100%;
                    max-width: 100%;
                    padding: 0 0 0 12px;
                    float: left;
                    outline: none;
                    box-shadow: none;
                }
                .btn-search{
                    overflow: visible;
                    position: absolute;
                    border: 0;
                    margin: 0;
                    cursor: pointer;
                    height: 100%;
                    min-width: 50px;
                    right: -15px;
                    top: 0;
                    padding: 0 35px;
                    color: #fff;
                    transition: all .25s ease-in-out;
                    text-transform: uppercase;
                    background-color: #333;
                    border-radius: 0 3px 3px 0;
                    -webkit-border-radius: 0 3px 3px 0;
                    text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
                    box-shadow: none;
                    -webkit-appearance: none;
                }
            }

        }
    }

    .right{
        .help-phone{
            margin-right: 90px;
            color: white;
            .icon{
                align-items: center;
                font-size: 30px;
            }
            .info-text{
                font-size: 20px;
                font-weight: 600;
                p{
                    margin:0px;
                }
            }
        }

        .commerce-buttons{
            margin-right: 160px;
            .cart-count-wrapper{
                position: absolute;
                top: -8px;
                left: 30px;
                text-align: center;
                background: #222;
                height: 18px;
                width: 18px;
                line-height: 18px;
                border-radius: 50%;
                font-size: 11px;
            }
        }
    }

    .mat-button-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff!important;
    }
}


@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-wrapper{
    align-items: center;
    justify-content: center;
}

.slider{
    .slide-item{
        height: 550px;
        width: 100%;
        background-size: cover;
        background-position: 50%;
        .sl-wrap{
            position: relative;
            height: 100%;
            .content{
                height: 100%;
                z-index: 9;
                margin-left: 100px;
                vertical-align: middle;
                h1{
                    font-size: 35px;
                    text-align: left;
                    color: #333;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }
                h3{
                    font-size: 35px;
                    text-align: left;
                    color: #333;
                    margin-bottom: 30px;
                    font-weight: 300;
                    letter-spacing: 2px;
                }
                button{
                    background-color: #ef6c00;
                    color: #fff;
                    padding: 5px 33px;
                    border: 1px solid;
                    width: 200px;
                    cursor: pointer;
                    border-radius: 5px;
                    box-shadow: none !important;
                }
        }
    }
}
}


.info-ship{
    display:flex;
    img{
        width: 1528px;
        margin: 0 auto;
    }
}

body.default {
    background: white!important;
}
.list-product-sale{
    max-width: 1313px;
    margin: 0 auto;
    .mat-tab-labels{
        width: 40%;
    }
  .product{
      border: 1px solid #d4c6c6;
      box-shadow: 2px 1px 8px -1px rgba(0,0,0,.09)!important;
      margin-left: 17px;
      .product-item{
          width: 240.2px;
          box-shadow: 2px 1px 8px -1px rgba(0,0,0,.09)!important;
          .product-img{
              background: #fff;
              .product-link{
                  text-decoration: none;
                  img{
                      max-width: 180px;
                      margin-bottom: 12px;
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                  }
              }
          }
      }
      .product-info-wrapper{
          .category{
              margin-bottom: 4px;
              display: block;
              font-weight: 300;
              color: #a2a2a2;
          }
          .title-wrap{

          }
          .price-wrap{

          }
          .btn-wrap{
              a{
                  cursor: pointer;
                  transition: .3s;
                  width: 90%;
                  border-radius: 0;
                  text-align: center;
                  margin-bottom: 10px;
                  line-height: 39px;
                  color: #fff;
                  font-size: 14px;
                  box-shadow: none!important;
                  transition: .4s ease;
                  background-color: #ef6c00;
                  border: 2px solid var(--theme-deafult)!important;
                  .mat-button-wrapper{
                      span{
                          color: #fff;
                          font-size: 14px;
                      }
                  }
              }
          }
      }
  }
}

.list-product-sales{
    max-width: 1313px;
    margin: 0 auto;
    .mat-tab-labels{
        width: 40%;
    }
    .product{
        border: 1px solid #d4c6c6;
        box-shadow: 2px 1px 8px -1px rgba(0,0,0,.09)!important;
        margin-left: 50px;
        margin-top: 10px;
        width: 262px;
        .product-item{
            width:258.2px;
            box-shadow: 2px 1px 8px -1px rgba(0,0,0,.09)!important;
            .product-img{
                background: #fff;
                .product-link{
                    text-decoration: none;
                    img{
                        max-width: 180px;
                        margin-bottom: 12px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        min-height: 168px;
                        object-fit: cover;
                    }
                }
            }
        }
        .product-info-wrapper{
            .category{
                margin-bottom: 4px;
                display: block;
                font-weight: 300;
                color: #a2a2a2;
                text-align: center;
            }
            .title-wrap{
                text-align: center;
            }
            .price-wrap{
                text-align: center;
            }
            .btn-wrap{
                a{
                    cursor: pointer;
                    transition: .3s;
                    width: 90%;
                    border-radius: 0;
                    text-align: center;
                    margin-bottom: 10px;
                    line-height: 39px;
                    color: #fff;
                    font-size: 14px;
                    box-shadow: none!important;
                    transition: .4s ease;
                    background-color: #ef6c00;
                    border: 2px solid var(--theme-deafult)!important;
                    .mat-button-wrapper{
                        span{
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}


.cagetory{
    display: flex;
    .product-title{
        width: 1316px;
        margin: 0 auto;
        border-bottom: 2px solid #f60;
        .product-left{
            padding: 5px 0px 5px 20px;
            background: #f60;
            span{
                font-size: 16px;
                line-height: 1.5;
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
                text-align: left;
                font-weight: 500;
                padding: 10px;
                display: inline-block;
            }
        }
    }
}



.footer{
    display:flex;
    margin-top: 70px;
    img{
        width: 1528px;
        margin: 0 auto;
    }
}