.shopping-cart {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px !important;
  margin-top: 70px;
  table {
    width: 100%;
    input{
      width: 80px;
      text-align: center;
      background-color: #eee;
      height: 35px;
      border: 1px solid #e5e5e5;
    }
    .mat-icon-button{
      padding: 0;
      min-width: 0;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      line-height: 40px;
      border-radius: 50%;
    }
  }
  .mat-icon{
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 77px;
  }

  .cdk-column-product{
    width: 21% !important;
  }

  .cdk-column-name{
    width: 17% !important;
  }

  .cdk-column-price{
    width: 14% !important;
  }

  .cdk-column-quantity{
    width: 20% !important;
  }

  .cdk-column-total{
    width: 15% !important;
  }

  th{
    font-size: 16px;
    font-weight: 600;
  }

  .mat-primary{
    color:#ef6c00;
    width: 200px;
    margin-left: 92px;
  }

}